div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    
    width: 500px;
    height: 500px;
    background: #07182E;
    /* position: relative; */
    overflow: hidden;
}

.card::before{
    content: '';
    /* position: absolute; */
    width: 100px;
    background-image: linear-gradient(180deg,rgb(0,183,255),rgb(255,48,255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all .2s linear;
}

@keyframes rotBGimg{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.card::after{
    content: '';
    /* position: absolute; */
    background: #07182E;
    inset: 5px;
}