* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main
 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  /* min-height: 80vh; */
}

