* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

/* Navbar starts from here */

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("./images/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/* box2 */
.add-first {
  color: #cccccc;
  font-size: 0.8rem;
  margin-left: 15px;
}

.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/* box3 */

.nav-search {
  display: flex;
  justify-content: space-evenly;
  /* background-color: pink; */
  width: 620px;
  height: 40px;
  border-radius: 4px;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid orange;
}
/* box 4 */

span {
  font-size: 0.7rem;
}

.nav-sec {
  font-size: 0.85rem;
  font-weight: 700;
}

/* box-6 */
.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/* Navbar ends here */

/* Panel section */
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}

.panes-deals {
  font: size 0.9rem;
  font-weight: 700;
}

/* panel section ends */

/* hero section */

.hero-section {
  background-image: url("./images/hero_image.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 90%;
  margin-bottom: 25px;
}

.hero-msg a {
  color: #007185;
}

/* hero section end */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007185;
}
/* shop section ends */

/* footer section  */

footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #222f3d;
  color: white;
  height: 300px;
}

ul {
  margin-top: 20px;
}
ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
.foot-panel3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
}
.logo {
  background-image: url("./images/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4 {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #0f1111;
  color: white;
  height: 100px;
  text-align: center;
  font-size: 0.7rem;
}

.pages {
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;
}
/* footer section ends */
