* {
  margin: 0;
  /* max-width: 664px; */
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 350px 50px;
  overflow: hidden;
  height: 1000px;
}

header {
  grid-column: span 12;
  display: flex;
  gap: 5rem;
  background-color: aqua;
  /* position: sticky; */
  /* margin:0.5rem; */
}
header > div:nth-child(3) {
  margin-left: auto;
}

aside {
  grid-column: span 2;
  background-color: aquamarine;
}
main {
  /* position: sticky; */
  grid-column: span 10;
  background-color: bisque;
}
footer {
  grid-column: span 12;
  background-color: lightblue;
}

