* {
  box-sizing: border-box;
  /* margin: 0; */

}


/* USing GRid */

.container{
  display: grid;
  /* row-gap: 10px; */
  /* column-gap: 5px; */
  
}
.box-2,.box-4{
  display: grid;
  justify-content: flex-end;
}

.feature-img{
  display: flex;
  gap: 10px;
}


 /* @media (min-width: 300px) {
        .container{
          display: grid;
        }
}  */

